
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h2>Party</h2>

    <img src="~/scripts/POTD_chick_3597497k.jpg" />
    <br />
    <br />
    <div class="btn btn-success">
        @Html.ActionLink("RSVP NowW", "RsvpForm")
    </div>
</div>